In [7]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\usuario\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Connection parameters
username = "root"
password = "Alexx123."
host = "localhost"
port = 3306  # must be integer
database = "restaurant_health_inspection"

# Encode password (safe for special characters)
password_encoded = quote_plus(password)

# Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username}:{password_encoded}@{host}:{port}/{database}",
    connect_args={"local_infile": 1}  # optional for CSV imports
)

print("Connection engine created successfully!")

Connection engine created successfully!

In [9]:
# Create df and paste the file path for the CSV

import pandas as pd

df = pd.read_csv(r"C:\Users\Usuario\Desktop\Analyst Builder\Data analytics project Restaurant Health Inspection Analysis - NYC\Files\DOHMH_New_York_City_Restaurant_Inspection_Results_20250919.csv")

print(df.head())

      CAMIS                          DBA       BORO BUILDING       STREET  \
0  50104876            NOODLE SUPER NO I  Manhattan      265     1 AVENUE
1  50174387              TREATS OF KOREA     Queens     3150  STEINWAY ST
2  50122756  MELLER'S SPORTS HUB & GRILL  Manhattan     1702     2 AVENUE
3  41408131             CHRIS RESTAURANT   Brooklyn     1866    86 STREET
4  50138007               PEARL OF CHINA   Brooklyn     8411     3 AVENUE

   ZIPCODE       PHONE CUISINE DESCRIPTION INSPECTION DATE  \
0  10003.0  2125290539             Chinese      08/24/2022
1  11103.0  8453232965                 NaN      01/01/1900
2  10128.0  9175964244            American      08/04/2025
3  11214.0  3474623755              Polish      05/20/2024
4  11209.0  7188334281             Chinese      08/16/2023

                                            ACTION  ...  \
0  Violations were cited in the following area(s).  ...
1                                              NaN  ...
2  Violations were cited in the following area(s).  ...
3  Violations were cited in the following area(s).  ...
4  Violations were cited in the following area(s).  ...

                                     INSPECTION TYPE   Latitude  Longitude  \
0  Pre-permit (Operational) / Second Compliance I...  40.732264 -73.981768
1                                                NaN  40.760128 -73.918066
2              Cycle Inspection / Initial Inspection  40.779327 -73.950670
3                   Cycle Inspection / Re-inspection  40.606285 -74.001070
4      Pre-permit (Operational) / Initial Inspection  40.624850 -74.030476

   Community Board Council District Census Tract        BIN           BBL  \
0            106.0              2.0       4800.0  1020423.0  1.009220e+09
1            401.0             22.0      15500.0  4010534.0  4.006580e+09
2            108.0              5.0      14602.0  1050066.0  1.015510e+09
3            311.0             38.0      27800.0  3340602.0  3.063710e+09
4            310.0             47.0       6200.0  3152743.0  3.060250e+09

    NTA  Location Point1
0  MN21              NaN
1  QN70              NaN
2  MN32              NaN
3  BK28              NaN
4  BK31              NaN

[5 rows x 27 columns]

In [10]:
#First do the following:
#1 Create a database in MySQL: 
#CREATE DATABASE restaurant_health_inspection;
#2 Verify the database exists
#SHOW DATABASES;

# Export to sql
df.to_sql(
    name="inspection_results",   # Table name
    con=engine,
    if_exists="replace",              # or "append" to add without deleting existing
    index=False,                      # Avoid exporting pandas index
    chunksize=1000                    # Handle large datasets in batches
)

288888